/*Desktop Style*/
/*Variaveis de cores*/
:root{
	--Verde: #579a62;
	--Amarelo: #ffefaf ;
}

/*Grid*/
.row{
	float: left;
	min-width: 100%;
}

#start{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.logo{
	width: 250px !important;
	height: 70%;	
}

.menu{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.menuItem{
	align-items: center;
	text-decoration: none;
	font-family: Arial;
	color: var(--Verde);
	font-size: 1.8em;
	padding: 10px;
}

.sectionTitle{
	text-align: center;
	font-family: Arial;
	color: var(--Verde);
	font-size: 1.8em;
}

.sectionText{
	text-align: justify;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 1.5em;
	word-spacing: 1.5px;
}

.sectionConteudo{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.imagem1{
	width: 500px;
	border-radius: 5px;
}

#formCadastro{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
}

.itensForm{
	text-align: left;
	font-family: Arial;
	color: var(--Verde);
	font-size: 1.5em;		
}

.confButton{
	background-color: var(--Verde);
	border: none;
	padding: 15px;
	border-radius: 10px;
	width: 100%;
	font-family: Arial;
	margin-top: 20px;
	margin-bottom: 20px;
}

 .partnerLogo{
 	width: 25%;
 }

 .espacamento{
 	padding-top: 20px;
 	padding-bottom: 20px;
 }

 .sectionColor{
 	background-color: var(--Amarelo);
 }

 .linkBack{
 	border: none;
 	display: inline-block;
 	padding: 20px;
 	font-size: 1.1em;
 	font-family: Arial;
	background-color: var(--Verde);
 	vertical-align: middle;
 	text-decoration: none;
 	text-align: center;
	bottom: 30px;
	right: 30px;
	position: fixed;
 	color: white;
 }


/*Mobile Style*/
@media only screen and (min-device-width : 320px) and (max-device-width : 700px) {
	.menu{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;	
	}
	
	.sectionConteudo{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.itensForm{
		display: flex;
		flex-direction: column;
		align-items: initial;
		justify-content: center;	
		font-size: 1.3em; 	
	}

	#formCadastro{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: initial;
		width: 70%;
	}

	input{
		min-height: 50px;
		font-size: 1.3em;
	}

	body{
		font-size: 1.5em;
	}

	#btn_enviaForm{
		font-size: 1.3em;
	}

	 .linkBack{
 	border: none;
 	display: inline-block;
 	padding: 20px;
 	font-size: 1.1em;
 	font-family: Arial;
	background-color: var(--Verde);
 	vertical-align: middle;
 	text-decoration: none;
 	text-align: center;
	bottom: 30px;
	right: 30px;
	position: fixed;
 	color: white;
 }
}