/*Desktop Style*/
/*Variaveis de cores*/
:root{
	--Verde: #579a62;
	--Amarelo: #ffefaf ;
}

/*Grid*/
.row{
	float: left;
	min-width: 100%;
}

#start{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.logo{
	width: 250px !important;
	height: 70%;	
}

.menu{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.menuItem{
	align-items: center;
	text-decoration: none;
	font-family: Arial;
	color: var(--Verde);
	font-size: 1.8em;
	padding: 10px;
}

.sectionTitle{
	text-align: center;
	font-family: Arial;
	color: var(--Verde);
	font-size: 1.8em;
}

.sectionText{
	text-align: justify;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 1.5em;
	word-spacing: 1.5px;
}

.sectionConteudo{
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.imagem1{
	width: 500px;
	border-radius: 5px;
}

#formCadastro{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
}

.itensForm{
	text-align: left;
	font-family: Arial;
	color: var(--Verde);
	font-size: 1.5em;		
}

.confButton{
	background-color: var(--Verde);
	border: none;
	padding: 15px;
	border-radius: 10px;
	width: 100%;
	font-family: Arial;
	margin-top: 20px;
	margin-bottom: 20px;
}

 .partnerLogo{
 	width: 200px;
 }

 .espacamento{
 	padding-top: 20px;
 	padding-bottom: 20px;
 }

 .sectionColor{
 	background-color: var(--Amarelo);
 }

 .linkBack{
 	text-decoration: none;
	font-family: Arial;
	font-size: 1.5em;
	color: grey;
 }


/*Mobile Style*/
@media (max-width:768px){

	.menu{
		display: flex;
		flex-direction: column;
		align-items: center
	}

	.sectionConteudo{
		display: flex;		
		flex-direction: column;

	}

	.itensForm{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	#formCadastro{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		width: 80%;
		}

}